<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block pagename %}{% endblock %} - Redaction</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Gudea:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen flex flex-col font-sans bg-[#1f113b] text-[#E8E1CF] overflow-y-auto">
    {% if header %}
<header class="flex items-center justify-between p-5 bg-[#3D1E8D] text-[#E8E1CF] shadow-lg">
    <div class="flex w-fit h-fit gap-3 items-center">    
        <a href="/">
            <img src="{{ url_for('static', filename='img/redaction-logo.png') }}" alt="Redaction Logotype"
            class="h-[7vh] object-center transition duration-200 hover:brightness-150"
            >
        </a>
    </div>
    <p class="w-fit h-fit text-[#E8E1CF]">
        {% block pagetext %}{% endblock %}
    </p>
    <div class="flex items-center space-x-4">
        <a href="/logout" class="invisible md:visible"><span class="font-semibold">Sair</span></a>
        <div class="avatar">
            <div class="overflow-hidden ring-[#E8E1CF] w-10 rounded-full ring-2">
                <img src="https://img.daisyui.com/images/profile/demo/spiderperson@192.webp" />
            </div>
        </div>
    </div>
</header>
{% else %}
<header class="flex items-center justify-between p-5">
    <div class="flex w-fit h-fit gap-3 items-center">    
        <a href="/">
            <img src="{{ url_for('static', filename='img/redaction-logo.png') }}" alt="Redaction Logotype"
            class="h-[7vh] object-center transition duration-200 hover:brightness-150"
            >
        </a>
    </div>
</header>
{% endif %}
{% if main %}
<main class="grow py-20 px-24">
    {% block content %}{% endblock %}
</main>
{% else %}
<main class="grow">
    {% block main_content %}{% endblock %}
</main>
{% endif %}
{% if footer %}
<footer class="text-center py-4 text-lg text-[#E8E1CF] z-10">
    &copy; 2024 AlphaTech. All rights reserved.
</footer>
{% endif %}
</body>
</html>
