{% extends 'layout.html' %}
{% block pagename %}Início{% endblock %}
{% block pagetext %}Seja bem-vindo(a) ao Redaction!{% endblock %}
{% set header = True %}
{% set footer = True %}
{% set main = True %}

{% block content %}

<section class="mb-12">
    <p class="text-2xl font-bold border-b-2 w-fit pb-5">Otimize suas redações<br>com a Redaction!</p>
</section>

<div class="grid grid-cols-1 lg:grid-cols-6 lg:grid-rows-2 gap-4 mb-8 place-content-center">
    <a href="" class="bg-[#3D1E8D] text-lg font-semibold shadow rounded p-6 text-center hover:border-[#E8E1CF] border-transparent border-2 transition duration-200 card lg:col-span-2">Minhas redações</a>
    <a href="" class="bg-[#3D1E8D] text-lg font-semibold shadow rounded p-6 text-center hover:border-[#E8E1CF] border-transparent border-2 transition duration-200 card lg:col-span-2">Temas Atuais</a>
    <a href="" class="bg-[#3D1E8D] text-lg font-semibold shadow rounded p-6 text-center hover:border-[#E8E1CF] border-transparent border-2 transition duration-200 card lg:col-span-2">Argumentos</a>
    <a href="" class="bg-[#3D1E8D] text-lg font-semibold shadow rounded p-6 text-center hover:border-[#E8E1CF] border-transparent border-2 transition duration-200 card lg:row-start-2 lg:row-end-2 lg:col-span-2 lg:col-start-4">Redações exemplo</a>
    <a href="" class="bg-[#3D1E8D] text-lg font-semibold shadow rounded p-6 text-center hover:border-[#E8E1CF] border-transparent border-2 transition duration-200 card lg:row-start-2 lg:row-end-2 lg:col-start-2 lg:col-span-2">Nova redação</a>
</div>

{% endblock %}